<div class = "col-2">
    <div class = "btn-group-vertical btn-block" role = 'group'>
        <a href = "{{baseurl}}/index.html" button type="button" class="btn btn-danger">Home</a>
        <a href = "{{baseurl}}/speaker.html" button type="button" class="btn btn-danger btn-block">Speakers</a>
        <a href = "#" button type="button" class="btn btn-danger btn-block">Luncheons</a>
        <a href = "{{baseurl}}/tickets.html" button type="button" class="btn btn-danger btn-block">Tickets</a>
        <a href = "#more" data-toggle ="collapse" button type="button" class="btn btn-danger btn-block">About Us</a>

           <div id = "more" class = "collapse">
                <div class = "btn-group-vertical btn-block" role = "group">
                    <a href = "#" button type="button" class="btn btn-danger btn-block">Our History</a>
                    <a href = "#" button type="button" class="btn btn-danger btn-block">Board of Directors</a>
                    <a href = "#" button type="button" class="btn btn-danger btn-block">Past Speakers</a>
                    <a href = "#" button type="button" class="btn btn-danger btn-block">Contact Information</a>
                </div>
            </div>
        </div>
    </div>
